
<div ng-include="'tpl/include/header.html'"></div>


<section class="container">
    <div class="breadcrumb">
        <a href="#">优生活首页</a> &gt;
        <a href="#">北京租房</a>
    </div>

    <div class="zf_detetails_title">
        <h2>海淀万寿路西街小两居 全南向采光好 精装修</h2>
        <p>房源编号：1343876    更新时间：2017-03-20</p>
        <a href="#">关注此房源</a>
    </div>

    <div class="zf_detetails_box">

        <div class="zf_detetails clearfloat">
            <div class="zf_detetails_pic">

                <img id='largeImg' ng-src="{{}}" alt="">

                <div class="zf_detetails_pic_min clearfloat">
                    <a href="#" class="left"></a>
                    <ul class="clearfloat">
                        <li ng-repeat="imgObj in house.picList"><img ng-src="{{imgObj.zfPic}}" alt=""></li>

                        <!--<li><img src="img-house/zf_details_02.jpg" alt=""></li>
                        <li><img src="img-house/zf_details_03.jpg" alt=""></li>
                        <li><img src="img-house/zf_details_03.jpg" alt=""></li>
                        <li><img src="img-house/zf_details_05.jpg" alt=""></li>
                        <li><img src="img-house/zf_details_05.jpg" alt=""></li>-->

                    </ul>
                    <a href="#" class="right"></a>
                </div>
            </div>

            <!--右侧具体信息-->
            <div class="zf_detetails_info">
                <p>5200 <b>元/月</b></p>
                <ul>
                    <li><span>房源: </span>&nbsp;&nbsp; 2室
                        <div>
                            <span>租赁方式: </span>&nbsp;&nbsp;整租
                        </div>

                    </li>
                    <li>
                        <span>面积: </span>&nbsp;&nbsp;65㎡
                        <div>
                            <span>支付方式: </span>&nbsp;&nbsp;押一付三
                        </div>

                    </li>
                    <li>
                        <span>楼层: </span>&nbsp;&nbsp;2/6楼
                        <div>
                            <span>房屋朝向: </span>&nbsp;&nbsp;南北
                        </div>

                    </li>
                    <li><span>装修: </span>&nbsp;&nbsp;精装修</li>
                    <li><span>小区: </span>&nbsp;&nbsp;万寿路西街11号院</li>
                    <li><span>位置: </span>&nbsp;&nbsp;万寿路与万寿路西街家插口西行200米路北</li>
                </ul>

                <div class="jjr_box clearfloat">
                    <img src="img-jingjiren/yang.jpg" alt="">
                    <div class="jjr_info">
                        <p>经纪人 : 杨幂</p>
                        <span><i></i>18501018536</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="zf_detetails_text">
            <ul class="zf_detetails_text_tab clearfloat">
                <li class="cur">房源详情</li>
            </ul>

            <div ng-bind-html="house.details"></div> <!--数据库中存的是HTMl片段,不能是普通的绑定了 -->
            <div>
                <img ng-repeat="img in house.picList" ng-src="{{img.zfPic}}" alt="">
            </div>

            <!--<p>配置： 床空调宽带电视冰箱洗衣机热水器可做饭独立卫生间阳台 </p>
            <br>
            <p>
                地铁信息： 紧邻1号线万寿路站
            </p>
            <br>
            <p>
                房子是精装修，处于中高层，视野好。两个卧室全朝南向，采光也非常好，白天不用开灯，暖气非常暖和，家具家电齐全，适合一家三口拎包入住。
            </p>
            <p>
                地理位置紧邻长安街万寿路，与育英学校仅一墙之隔，阳台能看到学校操场，接送小孩上下学非常方便。
            </p>
            <p>
                交通：离一号线万寿路地铁步行仅10，对面是部队大院，非常安静、安全。
            </p>
            <p>
                生活：附近有301医院，万事达体育中心，大型商场有五棵松蓝港，翠微商场，凯德晶品、凯德嘉茂、城乡、华懋等等，生活非常便利。。
                希望找爱惜房子讲卫生遵纪守法的租户，您可以是单身，或情侣夫妻，或一家三口。随时入住。
            </p>
            <p class="pic">
                <img src="img-house/zf_details_06.jpg" alt="">
            </p>-->
        </div>

    </div>
</section>


<div ng-include="'tpl/include/footer.html'"></div>