<div ng-include="'tpl/include/header.html'"></div>


<!--第二部分-->
<section class="container">
    <div class="breadcrumb">
        <a href="">优生活首页</a> &gt;
        <a href="">北京租房</a>
    </div>

    <!--分类-->
    <div class="types">
        <!--第1部分-->
        <ul class="types_tab">
            <li class="cur"><a href="">全部租房</a></li>
            <li><a href="">地铁租房</a></li>
        </ul>

        <!--第2部分-->
        <div class="types_select">
            <dl class="clearfloat">
                <dt>区域:</dt>
                <dd>
                    <ul class="option_list clearfloat" id="area">
                        <li data-areaId='0' ng-click="showSubAreas(0)" ng-class="currentAreaId==0?'cur':''">不限</li>
                        <!--ul里面的其他内容都应是动态生成的-->
                        <li ng-repeat="area in areaData" ng-click="showSubAreas(area.areaId)" ng-show="currentAreaId==area.areaId?'cur':''">{{area.areaName}}</li>
                    </ul>

                    <!--二级选项-->
                    <ul class="option_list_sub clearfloat" id="subArea" ng-show="currentAreaId!=0">
                        <li>不限</li>
                        <li ng-repeat="subArea in subAreaData">{{subArea.subAreaName}}</li>
                        <!--<li>白石桥</li>
                        <li>北太平庄</li>
                        <li>定麓寺</li>
                        <li class="cur">公主坟</li>
                        <li>军博</li>
                        <li>六里桥</li>
                        <li>牡丹园</li>
                        <li>马甸</li>
                        <li>不限</li>
                        <li>安宁庄</li>
                        <li>白石桥</li>
                        <li>北太平庄</li>
                        <li>定麓寺</li>
                        <li>公主坟</li>
                        <li>军博</li>
                        <li>六里桥</li>
                        <li>牡丹园</li>
                        <li>马甸</li>-->
                    </ul>

                </dd>
            </dl>

            <dl class="clearfloat">
                <dt>租金:</dt>
                <dd>
                    <ul class="option_list clearfloat" id="price">
                        <li class="cur" data-min="0" data-max="20000">不限</li>
                        <li data-min="0" data-max="1500">1500元以下</li>
                        <li data-min="1500" data-max="2500">1500-2500元</li>
                        <li data-min="2500" data-max="3500">2500-3500元</li>
                        <li data-min="3500" data-max="4500">3500-4500元</li>
                        <li data-min="4500" data-max="5500">4500-5500元</li>
                        <li data-min="5500" data-max="6500">5500-6500元</li>
                        <li data-min="6500" data-max="20000">6500元以上</li>
                        <li>
                            <input type="text">
                            -
                            <input type="text">
                            元
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="clearfloat">
                <dt>面积:</dt>
                <dd>
                    <ul class="option_list clearfloat" id="size">
                        <li class="cur" data-min="0" data-max="20000">不限</li>
                        <li data-min="0" data-max="30">30平以下</li>
                        <li data-min="30" data-max="50">30-50平</li>
                        <li data-min="50" data-max="70">50-70平</li>
                        <li data-min="70" data-max="90">70-90平</li>
                        <li data-min="90" data-max="120">90-120平</li>
                        <li data-min="120" data-max="140">120-140平</li>
                        <li data-min="140" data-max="160">140-160平</li>
                        <li data-min="160" data-max="200">160-200平</li>
                        <li data-min="200" data-max="20000">200平以上</li>
                    </ul>
                </dd>
            </dl>

            <dl class="clearfloat">
                <dt>房型:</dt>
                <dd>
                    <ul class="option_list clearfloat" id="houseType">
                        <li data-houseType="0" class="cur">不限</li>
                        <li data-houseType="一室">一室</li>
                        <li data-houseType="两室">两室</li>
                        <li data-houseType="三室">三室</li>
                        <li data-houseType="四室">四室</li>
                        <li data-houseType="五室">五室</li>
                        <li data-houseType="五室以上">五室以上</li>
                    </ul>
                </dd>
            </dl>

            <dl class="clearfloat">
                <dt>方式:</dt>
                <dd>
                    <ul class="option_list clearfloat" id="leaseWay">
                        <li data-leaseWay="0" class="cur">不限</li>
                        <li data-leaseWay="整租">整租</li>
                        <li data-leaseWay="合租">合租</li>
                    </ul>
                </dd>
            </dl>
        </div>

        <!--第3部分-->
        <div class="types_now">
            <dl class="clearfloat">
                <dt>当前选择:</dt>
                <dd>
                    <span>海淀<i></i></span>
                    <span>两室<i></i></span>
                    <a href="">清空所有筛选</a>
                </dd>
            </dl>
        </div>
    </div>
</section>
<!--第三部分-->
<section class="zf_list_box container">
    <!--上-->
    <div class="zf_list_head clearfloat">
        <div>共找到 <b>342</b> 套匹配房源</div>
        <ul>
            <li>排序:</li>
            <li class="cur">默认</li>
            <li>最新</li>
            <li>租金<span></span></li>
        </ul>
    </div>
    <!--房源列表图-->
    <div class="zf_list">
        <ul>
            <li class="clearfloat">
                <a href=""><img src="img-house/01.jpg" alt=""></a>

                <div>
                    <h2><a href="">海淀万寿路西街小两居 全南向采光好 精装修</a></h2>
                    <p>
                        <span>2室</span>
                        <span>整租</span>
                        <span>65M²</span>
                        <span>2/6层</span>
                        <span>朝向:南</span>
                    </p>
                    <p>万寿路西街11号院</p>
                </div>

                <span><strong>5200</strong>元/月</span>
            </li>

            <li class="clearfloat">
                <a href=""><img src="img-house/02.jpg" alt=""></a>

                <div>
                    <h2><a href="">整租太平路22号院2室一厅一卫 79平方米 付一压一</a></h2>
                    <p>
                        <span>2室</span>
                        <span>整租</span>
                        <span>65M²</span>
                        <span>2/6层</span>
                        <span>朝向:南</span>
                    </p>
                    <p>万寿路西街11号院</p>
                </div>

                <span><strong>5400</strong>元/月</span>
            </li>

            <li class="clearfloat">
                <a href=""><img src="img-house/03.jpg" alt=""></a>

                <div>
                    <h2><a href="">万寿路育英学区精装南向小两居 家电齐全</a></h2>
                    <p>
                        <span>2室</span>
                        <span>整租</span>
                        <span>65M²</span>
                        <span>2/6层</span>
                        <span>朝向:南</span>
                    </p>
                    <p>万寿路西街11号院</p>
                </div>

                <span><strong>4800</strong>元/月</span>
            </li>

            <li class="clearfloat">
                <a href=""><img src="img-house/04.jpg" alt=""></a>

                <div>
                    <h2><a href="">普惠南里 2室一厅一卫 81平方米 精装修</a></h2>
                    <p>
                        <span>2室</span>
                        <span>整租</span>
                        <span>65M²</span>
                        <span>2/6层</span>
                        <span>朝向:南</span>
                    </p>
                    <p>万寿路西街11号院</p>
                </div>

                <span><strong>6000</strong>元/月</span>
            </li>
        </ul>
    </div>
    <!--分页条-->
    <div class="zf_pages">
        <a class="disabled">上一页</a>
        <a class="cur" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a>
        <a>下一页</a>
    </div>
</section>



<div ng-include="'tpl/include/footer.html'"></div>